.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.profile-page form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 300px;
}

.profile-page textarea {
  resize: none;
}

.profile-page img {
  border: 2px solid #ccc;
}
